body {
    margin: 0 auto;
    background-color: rgb(38, 39, 39);
}

.boxtop {
    float: left;
    width: 100%;
    height: 50px;
    background-image: url(../image/nen-box.png);
}

.boxtop a {
    text-decoration: none;
}

.boxtopleft {
    float: left;
    width: 40%;
    height: 50px;
    line-height: 50px;
    font-size: 27px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 12%;
}

.boxtopleft a {
    color: red;
}

.boxtopcenter input {
    width: 300px;
    height: 30px;
    margin-top: 6.5px;
    float: left;
}

.boxtopright {
    float: right;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    padding-right: 13%;
}

.boxtopright a {
    color: black;
    padding-left: 10px;
}

.boxtopright a:hover {
    color: blueviolet;
}

.boxmenu ul {
    list-style-type: none;
    background-color: rgb(223, 219, 219);
    text-align: center;
}

.boxmenu ul li {
    display: inline-table;
    width: 120px;
    height: 40px;
    line-height: 40px;
    position: relative;
}

.boxmenu ul li a {
    text-decoration: none;
    display: block;
    color: black;
}

.boxmenu ul li a:hover {
    background-color: white;
    color: blueviolet;
}

.boxmenu ul li a:active {
    background-color: white;
}

.boxmenu ul li>.sub-menu {
    display: none;
    position: absolute;
}

.boxmenu ul li:hover .sub-menu {
    display: block;
    background-color: white;
}

* {
    padding: 0 auto;
    margin: 0 auto;
}

.font-group {
    padding-top: 15px;
    padding-left: 30%;
    font-size: 18px;
}


/* .font-group div {
    padding-top: 15x;
} */

.font-group button {
    width: 379px;
    height: 38px;
    margin-top: 10px;
}

.box3 {
    width: 960px;
    padding: 0 auto;
    border: 2px solid gray;
    background-color: white;
    margin: 0 auto;
    height: 560px;
}

.box3 a {
    text-decoration: none;
    padding-top: 12px;
    color: blue;
    font-size: 18px;
}

.box3 a:hover {
    text-decoration: underline;
    color: blueviolet;
}

.box3 p {
    margin-top: 40px;
    text-align: center;
    font-size: 20px;
}

.box3 input {
    width: 371px;
    height: 35px;
    margin-bottom: 10px;
}

.mk-dk {
    width: 360px;
}

.dn-dk {
    padding: 5px;
}

footer {
    margin-top: 20px;
    width: 100%;
    height: 100px;
    background-color: darkgrey;
    border-radius: 2px;
    text-align: center;
    padding-top: 20px;
}

footer p {
    width: 50%;
    font-size: 18px;
}